Source: ngcp-sems-prompts
Section: comm
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~)
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: ngcp-sems-prompts
Architecture: all
Replaces: ngcp-sems-prompts-en,
          ngcp-sems-prompts-es,
          ngcp-sems-prompts-fr
Conflicts: ngcp-sems-prompts-en,
           ngcp-sems-prompts-es,
           ngcp-sems-prompts-fr
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Audio prompts for ngcp-sems package
 Core sounds for ngcp-sems package
